<p>Choose one:</p>
<table>
  <tr>
    <td><a href="/rock"><img src="/rock.jpg"></a></td>
    <td><a href="/paper"><img src="paper.jpg"></a></td>
    <td><a href="/scissors"><img src="scissors.jpg"></a></td>
  </tr>
</table>
